$placeholder_color: rgba(200, 200, 200, 1);
* {
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;
}
:root {
	--dominant: rgb(60, 45, 255);
	--dominant_hover: var(--dominant);
	--background: #ffffff;

	/*
	--dominant: #ffffff;
	--dominant_hover: var(--dominant);
	--background: rgb(60, 45, 255);
	*/
}

.row {
	position: relative;
}

.disable-scroll {
	overflow: hidden;
}

.main-fotogallery {
	height: 50vh;
	background-color: $placeholder_color;
}

body {
	width: 100%;
	height: 100%;
	display: block;
	background-color: var(--background);
	color: var(--dominant);
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	display: inline-block;
	list-style-type: none;
}

nav {
	text-align: center;
	box-sizing: border-box;
	li {
		padding: 20px;
	}
}

h1 {
	font-weight: bold;
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

p {
	margin-bottom: 0;
}
.btn {
	display: block;
	text-align: left;
	color: var(--dominant);
	border-bottom: 2px solid transparent;
	border-radius: 0;
	padding: 5px 0px;
	margin-bottom: 10px;
	&:hover {
		color: var(--dominant_hover);
		border-bottom: 2px solid var(--dominant_hover);
	}
	&:focus {
		outline: none;
		box-shadow: none;
	}

	&-github svg {
		fill: black;
	}
	&-linkedin svg {
		fill: #0077b5;
	}
	&-fitbit svg {
		fill: #00b0b9;
	}
	svg {
		display: inline-block;
		vertical-align: middle;
		width: 25px;
		margin-right: 10px;
	}
}

.social-icons {
	margin: auto;
	margin-top: 20px;
	width: unquote('min(510px, 100%)'); /* sass workaround */
}

.link {
	a {
		border-bottom: 2px solid transparent;
		padding-bottom: 3px;
		text-decoration: none;
		&:hover {
			color: var(--dominant_hover);
			border-bottom: 2px solid var(--dominant_hover);
		}
	}
	margin-top: 10px;
}

.icon {
	width: 25px;
	background-color: transparent;
	border: 0px;
	position: absolute;
	z-index: 5;
	right: 20px;
	top: 20px;
	color: white;
	svg {
		fill: white;
	}
}

.text-home {
	display: inline-block;
	text-align: center;
	padding: 20px;
	vertical-align: middle;
	margin: auto;
	//margin-top: calc((50vh - 181px) / 2);
}

// Large devices (desktops, 992px and up)
@media (max-width: 425px) {
	h1 {
		font-size: 2.5em;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 1.5em;
	}
}

section {
	display: flex;
	height: fit-content;
	flex-direction: column;
}

article {
	display: flex;
	align-items: center;
	align-content: center;
	height: 100vh;
}
